<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>wak.system.server.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>proofCookie</servlet-name>
        <servlet-class>wak.system.server.proofCookie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>proofCookie</servlet-name>
        <url-pattern>/Cookie</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Warenkorbleeren</servlet-name>
        <servlet-class>wak.system.server.Warenkorbleeren</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Warenkorbleeren</servlet-name>
        <url-pattern>/clear</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Bestellung</servlet-name>
        <servlet-class>wak.system.server.BestellungServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Bestellung</servlet-name>
        <url-pattern>/Bestellung</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Bestelleintragung</servlet-name>
        <servlet-class>wak.system.server.Bestelleintragung</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Bestelleintragung</servlet-name>
        <url-pattern>/Bestelleintragung</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NeuesProdukt</servlet-name>
        <servlet-class>wak.system.server.NeuesProdukt</servlet-class>
    </servlet>
<servlet-mapping>
    <servlet-name>NeuesProdukt</servlet-name>
    <url-pattern>/NeuesProdukt</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>NeuerMitarbeiter</servlet-name>
    <servlet-class>wak.system.server.NeuerMitarbeiter</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>NeuerMitarbeiter</servlet-name>
        <url-pattern>/NeuerMitarbeiter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GeraetEinfuegen</servlet-name>
        <servlet-class>wak.system.server.GeraetEinfuegen</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeraetEinfuegen</servlet-name>
        <url-pattern>/GeraetEinfuegen</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>KategorieAnlegen</servlet-name>
        <servlet-class>wak.system.server.KategorieAnlegen</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KategorieAnlegen</servlet-name>
        <url-pattern>/KategorieAnlegen</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MitarbeiterLoeschen</servlet-name>
        <servlet-class>wak.system.server.MitarbeiterLoeschen</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MitarbeiterLoeschen</servlet-name>
        <url-pattern>/jsp/mitarbeiter/MitarbeiterLoeschen</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Registrierung</servlet-name>
        <servlet-class>wak.system.server.RegisitrierungServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrierung</servlet-name>
        <url-pattern>/Registrierung</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProfilUpdate</servlet-name>
        <servlet-class>wak.system.server.ProfilUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfilUpdate</servlet-name>
        <url-pattern>/ProfilUpdate</url-pattern>
    </servlet-mapping>
</web-app>
