h1 { color: green; }
body{
	
	background-color:#FCFD5A;
}
.menu {
	background-color:#6565FC
	;
}
.menu_item{	
	min-width:70pt;
}
.menu_logout{
	min-width:70pt;
}
.menu_platzhalter{
	
	width:100%;
}
.titel{
	
	width:100%;
	font-weight:bold;
}
.login{
	
	width:50%;
}